{% extends 'base.html.twig' %}

{% block title %}
  Hello HomeController!
{% endblock %}

{% block body %}
  <!-- Hero section -->
    <section class="hero-section">
      <div class="hero-slider owl-carousel">

        {% for gericht in gerichte %}
        <div class="hs-item">
          <div class="container">
            <div class="row">
              
              <div class="col-lg-6">
                <div class="hs-text">
                  <h2>
                    <span>{{gericht.name}}</span>!
                  </h2>
                  <p>
                    {{gericht.beschreibung}}
                  </p>
                  <a class="site-btn" href="{{ path('menu') }}">Menükarte</a>
                  <a href="{{ path('bestellen', { id: gericht.id }) }}" class="site-btn sb-c2">Bestellen</a>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="hr-img">
                  <img src="{{ asset('bilder/' ~ gericht.bild) }}" alt="" />
                </div>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </section>
    <!-- Hero section end -->
{% endblock %}
